<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            <%= config.author || config.title %> &copy; <%= date(new Date(), 'YYYY') %> 
           
            <br> Powered by <a href="http://haoqiao.me/" target="_blank">LinShuiZhaoYing</a>.
        </div>
    </div>
</footer>